@use '../../sass/variables' as var;

.aboutme {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0rem 2rem;

  @media screen and (max-width: 600px) {
    align-items: center;
    height: auto;
  }

  @media screen and (max-width: 900px) {
    padding: 5rem 2rem 0 2rem;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    width: 100%;
    margin-bottom: 2rem;
    font-size: 3rem;
    color: var.$gold-color;

    @media screen and (max-width: 600px) {
      margin-bottom: 1rem;
      font-size: 2.5rem;
    }
  }

  &__imgcont {
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  &__img {
    border-radius: 50%;
    width: 500px;
    height: 500px;
  }

  &__textcont {
    width: 56%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1.2rem;

    @media screen and (max-width: 920px) {
      width: 100%;
      max-width: 75ch;
    }
  }

  &__text {
    color: var.$dark-text-color;
    font-size: 1.35rem;
    font-weight: 400;

    @media screen and (max-width: 600px) {
      font-size: 1.2rem;
    }

    &--decorated {
      color: var.$gold-color;
      font-weight: 400;
    }
  }
}