// prettier-ignore
$default-fonts: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

$primary-color: #44dabe;
$dark-bg-color: #212121;
$dark-text-color: #c4c4c4;
$gold-color: #ffe134;
