@use './variables' as v;
@use '../components/Header/header';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #000011;
  display: flex;
  justify-content: center;
}

#root {
  min-height: 100vh;
  width: 50%;
  font-family: 'Monserrat', v.$default-fonts;
}
