@use '../../sass/variables' as var;

.header__nav__item {
  color: var.$dark-text-color;
  cursor: pointer;
  display: flex;
  position: relative;
  overflow: hidden;
  height: 1.875rem;

  &__link {
    text-decoration: none;
    color: var.$dark-text-color;
    padding: 5px 2px;
    display: flex;
    align-items: center;
    gap: 5px;
    line-height: 1em;
    font-size: 1.4rem;

    &__icon {
      color: var.$gold-color;
      height: 1.25rem;
      width: 1.25rem;
    }
  }

  &__link:hover ~ &__decoration {
    transform: translateX(0);
  }

  &__decoration {
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    background: #bbc2cc;
    transform: translateX(-100%);
    transition: transform 0.5s cubic-bezier(0.46, 0.03, 0.52, 0.96);
  }
}
