@use '../../sass/variables' as var;

.header__nav__item {
  color: var.$dark-text-color;
  cursor: pointer;
  display: flex;
  position: relative;
  overflow: hidden;
  height: 1.875rem;

  &:focus-visible {
    outline: 1px solid black;
  }

  &.lang {
    aspect-ratio: 1/1;
  }

  &__link {
    text-decoration: none;
    color: var.$dark-text-color;
    padding: 5px 2px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    line-height: 1em;
    font-size: 1.5rem;
    transition: color 0.2s cubic-bezier(0.46, 0.03, 0.52, 0.96);

    @media screen and (max-width: 900px) {
      font-size: 2rem;
    }

    &:hover {
      color: var.$gold-color;
    }

    &__icon {
      color: var.$gold-color;
      height: 1.25rem;
      width: 1.25rem;
      transition: transform 0.2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
      cursor: pointer;

      @media screen and (max-width: 900px) {
        height: 1.3rem;
        width: 1.3rem;
      }

      &.lang {
        height: 100%;
        width: 100%;
      }
    }
  }

  &__link:hover &__link__icon {
    transform: scale(1.2) rotate(10deg);
  }
}