@use '../../sass/variables' as var;

.works {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem;

  @media screen and (max-width: 1350px) {
    height: auto;
  }

  @media screen and (max-width: 900px) {
    padding: 5rem 2rem 2rem 2rem;
  }

  &__title {
    width: 100%;
    font-size: 3rem;
    font-weight: 600;
    color: var.$gold-color;
    margin-bottom: 2rem;
  }

  &__grid {
    display: grid;
    aspect-ratio: 5/1;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    @media screen and (max-width: 1350px) {
      width: 100%;
    }

    @media screen and (max-width: 800px) {
      aspect-ratio: 1/1.2;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr);
    }
  }
}