.header__title {
  display: flex;
  align-items: center;

  &__img {
    height: 6rem;
  }
  &__name {
    color: #efefef;
    margin-block: 0;
    line-height: 1em;
    font-size: 2rem;
    font-weight: 700;
    width: 10rem;
    font-family: 'Titillium Web';
  }
}
