@use '../../sass/variables' as var;

.home {
  width: 100%;
  min-height: calc(100vh - 7rem);
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;

  @media screen and (max-width: 1200px) {
    flex-direction: column;
    justify-content: center;
    gap: 3rem 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 50%;

    @media screen and (max-width: 1200px) {
      width: 100%;
      max-width: 550px;
      height: auto;
    }
  }

  &__title {
    font-size: 3.3rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    margin-block: 0;
    margin-bottom: 1rem;
    line-height: 1em;
    color: var.$dark-text-color;

    @media screen and (max-width: 600px) {
      font-size: 2.5rem;
    }

    @media screen and (max-width: 500px) {
      font-size: 8.3vw;
    }

    &--decorated {
      color: var.$gold-color;
      font-size: 1.4em;
      line-height: 1.15em;
      font-weight: 700;
    }
  }

  &__img {
    aspect-ratio: 2/1.25;
    width: 50%;
    transform: scaleX(-1);
    z-index: -1;

    @media screen and (max-width: 1200px) {
      width: 100%;
      max-width: 550px;
      height: auto;
    }

    @media screen and (max-width: 600px) {}
  }
}