@use '../../sass/variables' as var;

.home {
  width: 100%;
  max-width: 1200px;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;

  &__title {
    font-size: 3.5rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    margin-block: 0;
    line-height: 1.2em;
    color: var.$dark-text-color;

    &--decorated {
      color: var.$gold-color;
    }
  }

  &__img {
    height: 80%;
    transform: scaleX(-1);
  }
}
