.home {
  &__img {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    border: 1px solid #efe;
    display: inline-block;
    background-image: linear-gradient(rgba(17, 17, 17, 0.5), rgba(17, 17, 17, 0.5)), url(/img/me.jpg);
    background-size: cover;
  }
}
