@use '../../sass/variables' as var;
@import '../../sass/mixins';

.header {
  width: 100%;
  max-width: 1500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 0.5rem 1rem;
  @include background-image;
  background-attachment: fixed;
  z-index: 3;

  @media screen and (max-width: 900px) {
    padding: 0 1rem;
  }

  &__img {
    height: 4.5rem;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    text-decoration: none;

    @media screen and (max-width: 900px) {
      width: 80%;
      height: 100%;
      z-index: 2;
      @include background-image;
    }
  }

  &__img,
  &__title {
    transition: transform 0.2s ease;
  }

  &__wrapper:hover>&__img {
    transform: scale(1.1);
  }

  &__wrapper:hover>&__title {
    transform: translateX(5%);
  }

  &__title {
    font-size: 2.5rem;
    color: var.$dark-text-color;
    font-weight: 600;
    text-decoration: none;
    margin-right: 1rem;

    @media screen and (max-width: 900px) {
      font-size: 2rem;
    }

    &--decorated {
      color: var.$gold-color;
    }
  }
}