<div class='relative -z-10 h-full w-full bg-slate-950'>
  <div
    class='absolute bottom-0 left-0 right-0 top-0 min-h-screen bg-[radial-gradient(circle_500px_at_50%_200px,#3e3e3e,transparent)]'
  >
  </div>
</div>
