<footer
  class='text-md my-4 flex w-full max-w-[1000px] items-center justify-between rounded bg-stone-900/80 px-4 py-1 text-yellow-200/90'
>
  <p>Facu Carrion &copy; 2024</p>
  <nav class='flex items-center gap-4 text-sm text-white/60'>
    <a
      href='#top'
      class='hover:underline'
      >Sobre Mí</a
    >
    <a
      href='#projects'
      class='hover:underline'
      >Mis Proyectos</a
    >
    <a
      href='#skills'
      class='hover:underline'
      >Mis Habilidades</a
    >
  </nav>
</footer>
