<header class='t-0 fixed flex w-full max-w-[800px] justify-center py-4'>
  <nav
    class='text-md flex gap-6 rounded-full bg-stone-900/80 px-4 py-1 font-semibold backdrop-blur-xl'
  >
    <a
      href='#top'
      class='rounded-full px-2 py-1 transition-colors duration-300 hover:bg-stone-800'
    >
      Sobre Mí
    </a>
    <a
      href='#projects'
      class='rounded-full px-2 py-1 transition-colors duration-300 hover:bg-stone-800'
    >
      Proyectos
    </a>
    <a
      href='#skills'
      class='rounded-full px-2 py-1 transition-colors duration-300 hover:bg-stone-800'
    >
      Habilidades
    </a>
  </nav>
</header>
