@use '../../sass/variables' as var;

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 0.625rem;
  border: 1px solid var.$dark-text-color;
  padding: 1rem 0;

  & * {
    cursor: default;
  }

  &__icon {
    height: 4rem;
    width: 4rem;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 600;
    color: var.$dark-text-color;
    text-align: center;
  }
}
