@use '../../sass/variables' as var;

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }

  & > * {
    cursor: default;
  }

  &__icon {
    height: 4rem;
    width: 4rem;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #efe;
    text-align: center;
  }
}
