@use '../../sass/variables' as var;

.socialmedia {
  display: flex;
  gap: 1rem;
  margin-left: 0.1rem;

  &__icon {
    color: var.$gold-color;
    height: 2.1875rem;
    width: 2.1875rem;
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.1) rotate(10deg);
    }
  }
}