@use '../../sass/variables' as var;
@import '../../sass/mixins';

.header__nav {
  transition: transform 0.5s ease;

  @media screen and (max-width: 900px) {
    z-index: 1;
  }

  &__menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1.2rem;

    &__select {
      height: 100%;
      font-size: 1rem;
      font-weight: 500;
      padding: .2rem 1rem;
      border-radius: 10px;
      border: 2px solid var.$gold-color;
      color: var.$dark-text-color;
      background: transparent;

      &:focus {
        outline: none;
      }

      &>option {
        background: var.$dark-bg-color;
        margin: 0;
        border: none;
      }
    }

    @media screen and (max-width: 900px) {
      gap: 2rem;
    }
  }
}

// -- Default Classes in Widest Res -- //
.header__responsive__icon {
  display: none;
}

@media screen and (max-width: 900px) {
  .header__nav {
    width: 90%;
    position: absolute;
    @include background-image;
    padding-top: 5rem;
    padding-bottom: 1rem;
    top: 0;
    z-index: -1;

    &__menu {
      flex-direction: column;
      width: 100%;
      align-items: center;
    }
  }

  // -- Default Classes -- //
  .open-menu {
    transform: translateY(0);
  }

  .close-menu {
    transform: translateY(-100%);
  }

  .open-toggle {
    display: block;
  }

  .hidden-togle {
    display: none;
  }
}